target
.idea
.DS_Store
.vscode

# Local .terraform directories
**/.terraform/*

# Ignore any .tfvars files that are generated automatically for each Terraform run.
*.tfvars

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore the CLI configuration files
.terraformrc
terraform.rc