target
greeting-backend/.idea
.DS_Store
.vscode

# Local .terraform directories
**/.terraform/*

# Ignore any .tfvars files that are generated automatically for each Terraform run.
*.tfvars

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore the CLI configuration files
.terraformrc
terraform.rc

# IntelliJ IDEA files
greeting-backend/.idea/
*.iml
*.ipr
*.iws
.idea_modules/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

.angular
dist

# System files
.DS_Store
Thumbs.db
